*{
    color: black;
    background-color: white;
}
header{
    width: 400px;
    height:50px;
    background-color: red;
}
div{
    width: 400px;
    height: 50px;
}
.boxType1{
    height: 50px;
    width: 100px;
}
.boxType2{
    height: 50px;
    width: 200px;
}
#box1{
    background-color: rgb(251, 113, 63);
    float: left;
}
#box2{
    background-color: rgb(255, 234, 0);
    float: left;
}
#box3{
    background-color: rgb(89, 255, 0);
    float: left;
}
#box4{
    background-color: rgb(0, 255, 234);
    float: left;
}
#box5{
    background-color: rgb(0, 140, 255);
    float: left;
}
#box6{
    background-color: rgb(0, 26, 255);
    float: left;
}
#box7{
    background-color: rgb(93, 0, 255);
    float: left;
}
#box8{
    background-color: rgb(163, 110, 254);
    float: left;
}
#box9{
    background-color: rgb(253, 6, 253);
    float: left;
}
#box10{
    background-color: rgb(254, 110, 237);
    float: left;
}
#box11{
    background-color: rgb(250, 8, 101);
    float: left;
}
#box12{
    background-color: rgb(102, 8, 36);
    float: left;
}
#box13{
    background-color: rgb(242, 7, 39);
    float: left;
}
#box14{
    background-color: rgb(24, 245, 16);
    float: left;
}