*{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none;
}
.display{
    display: inline-block;
}
.yellowBox{
    width: 250px;
    height: 200px;
    background-color: yellow;
    margin: 0;
    float: left;
}
#F4Y{
    font-size: 10px;
    margin: 15px 0 0 18px;
}
#home{
    font-size: 5px;
    margin: 20px 0px 0px 130px;
}
#menu{
    font-size: 5px;
    margin: 0px 0px 0px 180px;
}
.greenBox{
    width: 160px;
    height: 200px;
    background-color: rgba(205, 255, 112,0.7);
    margin: 0;
    float: left;
}
#ED{
    font-size: 5px;
    margin: 15px 10px 0 0px;
    text-align: right;
}
#NO{
    font-size: 10px;
    margin: 2px 10px 0 0px;
    text-align: right;
}