*{
    color: black;
}
.navbar a{
    text-decoration: none;
    margin: 0px 40px 0px 0px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
a:hover{
    color:red;
}
#AYH{
    font-family: cursive;
    font-size: 50px;
    margin: 100px 0 0 0;

}
#ED{
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    text-align: right;
    padding: 20px 40px 0px 0px;
}
#F4Y{
    font-size: 30px;
    text-align: left;
    padding: 20px 0px 0px 40px;
}
#no{
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: right;
    padding: 0px 40px 10px 0px;
}
.box1{
    height: 400px;
    width: 900px;
    background-color: yellow;
    float: left;
    text-align: left;
}
.box1content{
    text-align: center;
}
.box2{
    height: 400px;
    width: auto;
    background-color: rgb(217, 255, 111);
    text-align: right;
}